<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Challenge 19 - BREAD Express</title>
    <link defer rel="stylesheet" href="/views/styles.css"/>
    <script defer src="/script/add.js"></script>
  </head>
  <body>
    <header class="header-title">
      <h1 class="header-title">BREAD(Browse, Read, Edit, Add, Delete)</h1>
    </header>
    <main>
      <section id="add-form" class="main-section">
        <h2>Add Data</h2>
        <form action="/add" method="POST" class="user-form">
          <!-- <fieldset> -->
            <div class="user-input">
              <label 
              for="add-id" 
              class="main-section-label">
                ID</label
              >
              <input
                type="text"
                name="id"
                id="add-id"
                placeholder="ID"
                class="input"
                value="<%= data.length + 1 %>"
                disabled
              />
            </div>
            <div class="user-input">
              <label
                for="add-string"
                class="main-section-label"
              >
                String</label
              >
              <input
                type="text"
                name="string"
                id="add-string"
                placeholder="String"
                class="input"
              />
            </div>
            <div class="user-input">
              <label
                for="add-integer"
                class="main-section-label"
              >
                Integer</label
              >
              <input
                type="number"
                name="integer"
                id="add-integer"
                enable-integer=""
                placeholder="Integer"
                class="input"
                pattern=""
              />
            </div>
            <div class="user-input">
              <label
                for="add-float"
                class="main-section-label"
              >
                Float</label
              >
              <input
                type="number"
                name="float"
                id="add-float"
                placeholder="Float"
                step="any"
                class="input"
                pattern="^\d+$"
              />
            </div>
            <div class="user-input date-form">
              <label
                for="add-date"
                class="main-section-label"
              >
                Date</label
              >
                <input 
                type="text" 
                name="date" 
                id="add-date" 
                class="input"
                />
            </div>
            <div class="user-input">
              <label
                for="add-boolean"
                class="main-section-label"
              >
                Boolean</label
              >
              <input
                type="number"
                name="boolean"
                id="add-boolean"
                enable-boolean=""
                min="0"
                max="1"
                placeholder="Choose the boolean ..."
                class="input"
              />
            </div>
            <button
              type="submit"
              class="btn add-btn"
            />Add</button>
            <a href="/">
              <button
                type="button"
                class="btn btn-info"
              />Cancel</button>
            </a>
        </form>
      </section>
    </main>
  </body>
</html>