html {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f6f6f6;
}

h1 {
  text-align: left;
}

/* .first-section-label {
    color: #c2c2c2;
} */

/* fieldset > label {
  display: inline-block;
  position: relative;
  margin: 0.5rem 0;
} */

form {
  width: 100%;
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.col {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #b8b8b8;
}

/* .first-section-label {
  color: #c2c2c2
} */

.search-button, .add-button {
  background-color: #067dd1;
  color: #fff;
  border-style: none;
  margin: 0 auto;
  padding: 5px 10px;
}

.edit-button {
  background-color: #008751;
  color: #fff;
  border-style: none;
  margin: 0 auto;
  padding: 5px 10px;
}

.delete-button, .back-button {
  background-color: #ac3425;
  color: #fff;
  border-style: none;
  margin: 0 auto;
  padding: 5px 10px;
}
