html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* border:solid; */
}

.header-title {
  margin: 0;
  font-size: 2rem;
  text-align: left;
  /* border: solid; */
}

h2  {
  margin: 0px 0px 5px;
  padding: 5px 5px;
  text-align: left;
}

.main-section .user-form{
}

.main-section .user-form .user-input{
  align-items: center;
  margin-bottom: 5px;
  display: flex;
  max-width: 800px;
}

.main-section .user-form .user-input .input{
  width: 100%;
  height: 30px;
  max-width: 800px;
  border-radius: 5px;
  border-style:groove;
}

.main-section .user-form .user-input label{
  width: 200px;
}

.second-section .table {
  border-collapse: collapse;
  margin: 25px 0;
  width: 100%;
  min-width: 400px;
  max-width: 800px;
  /* border: solid; */
}

.second-section .table thead th[scope=col],
.second-section .table tbody th[scope=row] {
  padding: 12px 15px;
  border-top: 2px solid #dcdcdc;
}

.second-section .table tbody tr:nth-child(odd) {
  background-color: #dcdcdc;
}

.second-section .table tbody th[scope=col] {
  background-color: #fafafa;
}

.btn {
  width: 100px;
  margin: 5px 5px;
  padding: 8px 5px;
  border-radius: 5px;
  font-size: 1em;
  color: #fff;
}

.search-btn {
  background-color: #008aed;
}

.edit-btn {
  background-color: #00b100;
  width: 60px;
}

.delete-btn {
  background-color: #df1e00;
}

.add-btn {
  padding: 5px 5px;
  width: 60px;
  background-color: #008aed;
  color: #ffffff;
}

.page-btn {
  padding: 5px 5px;
  width: auto;
  border: 0.1em solid #blue;
  background-color: #ffffff;
  color: #008aed;
}